* {
    margin: 0;
    padding: 0;
}
.game-selections{
     display: flex; 
     justify-content:space-around; 
     align-items:center;
     margin-left:300px;
     margin-right:300px;
     padding-top: 0px !important;

}
body {
    background-color:bisque;
    font-size: 25px;
}
.heading{
padding-top: 1%;
padding-bottom: 0%;
text-align: center;
}

.game-board {
    margin-top: 65px;
    margin-bottom: 50px;
}

.row {
    margin-bottom: 0px;
    padding: 0;
}

img{
    margin-left: 0px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: inherit;
}

img:hover {
    cursor: pointer;
}

.radio_buttons {
    float: left;
    
  } 


.radio-buttons div {
    border: 2px solid black;
    width: 200px;
    cursor: pointer;
    

} 



.action-buttons button {
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}

h4 {
    width: 25%;
}

@keyframes card-flip {
    0% {
        transform: rotateY(0deg);
        content:url("assets/images/undisplayed.PNG");
    } 100% {
        transform: rotateY(180deg);
        content:url("assets/images/undisplayed.PNG");
    }
}